.nav_menu {
    display: flex;
    border: 1px solid black;
}

.nav_menu>a {
    border-right: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    width: 20%;
    text-decoration: none;
    color: black;
    font-family: var(--global-font);
    font-size: 18px;
}

.nav_menu>a:hover {
    background-color: black;
    color: var(--lime-color);
}

.nav_menu>div {
    width: 25%;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.basket>span {
    cursor: pointer;
}

.basket_sum_box {
    position: relative;
    cursor: pointer;
}

.basket_sum {
    color: var(--lime-color);
    position: absolute;
    transform: translate(-50%, -90%);
    top: 75%;
    left: 50%;
    font-size: 15px;
}

/* Burger Menu */
section {
    display: flex;
    justify-content: flex-end;
}

/* Burger Icon */
.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin: 20px 10px;
}

.menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

.menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

/* Change Burger Icon when menu is active */
.menu-btn.active .bar:nth-of-type(1) {
    display: none;
}

.menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

/* Burger Menu Appearance */
.nav-burger {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: var(--lime-color);
    transform: translateX(100%);
    transition: transform 0.5s;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-burger.active {
    transform: translateX(0);
}

.nav__list_item {
    list-style-type: none;
    text-align: center; /* Center the text within the li */
    width: 100%; /* Ensure the li takes full width */
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the items */
    align-items: center; /* Horizontally center the items */
    gap: 60px;
    height: 100%; /* Take full height of the burger menu */
    padding: 0;
    margin: 0;
}

.hidden_burger_menu {
    display: none;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .basket>span>svg {
        width: 30px;
        height: 30px;
    }

    .basket_sum_box>span>svg {
        width: 30px;
        height: 30px;
    }
    .nav_menu>div {
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    .nav_menu {
        display: none;
    }

    .hidden_burger_menu {
        display: block;
    }

    .basket {
        font-weight: bolder;
        font-size: 30px;
        font-family: var(--global-font);
    }

    .nav-burger {
        z-index: 2;
    }

    .menu-btn {
        z-index: 9999;
    }
}

/* Prevent scrolling when burger menu is active */
.no-scroll {
    overflow: hidden;
}
