* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

:root {
  --lime-color: rgb(214, 255, 56);
  --global-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}